$mainTransition: 0.3s;
$colorMain: #E31E24;

body {
	font-family: 'Rubik', sans-serif;
	font-style: normal;
	font-weight: normal;
	background-color: #FFFFFF;
}
.container-1550 {
	width: 100%;
	max-width: 1550px;

	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

h1, .h1,
.section-title .h1 {
	font-family: 'Rubik', sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 36px;
	line-height: 43px;
	color: #000000;
	@media (max-width: 991px) {
		font-size: 28px;
		line-height: 120%;
	}
}
h2, .h2,
 {
	font-family: 'Rubik', sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 29px;
	color: #000000;
}
p {
	font-family: 'Rubik', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 21px;

	color: #000000;
}

ul {
	padding-left: 20px;
	li {
		font-family: 'Rubik', sans-serif;
		list-style: disc;
	}
}
blockquote {
	border-left: 10px solid $colorMain;
	padding: 4px 0 10px 20px;

	p {
		font-style: italic;
		font-weight: 300;
		font-size: 18px;
		line-height: 21px;

		color: #000000;
	}
}


#scrollUp {
	display: flex;
	align-items: center;
	justify-content: center;
	svg {
		transform: rotate(-90deg);
	}
	&:hover {
		svg {
			path {
				stroke: #fff;
			}
		}
	}
}

.slick-arrow {
	&:hover {
		background-color: $colorMain;
		svg {
			path {
				stroke: #fff;
			}
		}
	}
}


.slider-default {
	padding-bottom: 10px;

	.slick-track {
		display: flex;
		align-items: center;
	}
	.slick-arrow {
		position: absolute;
		z-index: 2;

		top: 50%;
		transform: translateY(-50%);
		left: 7.5%;
		width: 50px;
		height: 50px;
		line-height: 50px;
		text-align: center;
		color: #000;
		font-size: 24px;
		background-color: #fff;
		cursor: pointer;
		transition: all .3s ease 0s;
		opacity: 0;
		visibility: hidden;

		background: #f0f4f6;

		&.slider-icon-1-prev {
			left: 30px!important;
			transition: $mainTransition;
		}
		&.slider-icon-1-next {
			left: unset;
			right: 30px!important;
			transition: $mainTransition;
		}
		svg {
			path {
				transition: $mainTransition;
			}
		}
		&:hover {
			background-color: $colorMain;
			svg {
				path {
					stroke: #fff;
					transition: $mainTransition;
				}
			}
		}
	}
	&:hover  {
		.slick-arrow {
			opacity: 1;
			visibility: visible;

			&.slider-icon-1-prev {
				left: 0px!important;
				transition: $mainTransition;
			}
			&.slider-icon-1-next {
				right: 0px!important;
				transition: $mainTransition;
			}
		}
	}

	.slick-dots {
		position: absolute;
		bottom: 0px;
		left: 0px;
		right: 0px;

		padding: 0px;

		display: flex;
		align-items: center;
		justify-content: center;

		li {
			cursor: pointer;
			list-style: none;
			width: 10px;
			height: 10px;
			border-radius: 100%;
			background-color: #C4C4C4;
			margin-right: 4px;
			&:last-child {
				margin: 0px;
			}
			button {
				display: none;
			}
			&.slick-active {
				background-color: $colorMain;
			}
		}
	}
}
