.form-search {
	.form-search-input {
		height: unset!important;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		line-height: 16px;
		color: #565656;

		padding: 15px 0px!important;
		border-bottom: 3px solid $colorMain!important;
		@media (max-width: 991px) {
			padding: 15px 60px 15px 15px!important;
			border-bottom: 0px!important;
		}
	}
	.btn-submit {
		background: none!important;
		transition: $mainTransition;
		svg {
			path {
				fill: #454545;
				transition: $mainTransition;
			}
		}
		&:hover {
			transition: $mainTransition;
			svg {
				path {
					fill: $colorMain;
					transition: $mainTransition;
				}
			}
		}
	}
}
.categori-search-wrap.categori-search-wrap-modify-3 {
	border: 0px!important;
	background: none!important;
}

.form-cart {
	padding-bottom: 60px;
	input[type="text"], input[type="tel"],
	input[type="email"], textarea {
		background: #F0F4F6;
		border-radius: 0px;
		padding: 9px 22px;

		font-family: Rubik;
		font-style: normal;
		font-weight: normal;
		font-size: 18px;
		line-height: 21px;
		color: #737374;

		border: 0px;

		&::-webkit-input-placeholder 	{ opacity: 1; color: #737374; }
		&:-ms-input-placeholder 		{ opacity: 1; color: #737374; }
		&::-ms-input-placeholder 		{ opacity: 1; color: #737374; }
		&::placeholder 					{ opacity: 1; color: #737374; }
	}
	textarea {
		padding: 20px 13px;
		min-height: 140px;
	}
	.cart-block {
		padding-bottom: 70px;
		.cart-block__description {
			display: block;
			margin: 0px;
			font-family: Rubik;
			font-style: normal;
			font-weight: normal;
			font-size: 12px;
			line-height: 14px;

			color: #9C9E9C;
		}
	}
}

.radio-custom {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	cursor: pointer;
	input {
		display: none;
	}
	.radio-custom__circle {
		width: 20px;
		height: 20px;
		min-width: 20px;
		min-height: 20px;
		display: block;
		border: 1px solid #A3CFD2;
		border-radius: 100%;
		position: relative;
		&:before {
			opacity: 0;
			display: block;
			width: 10px;
			height: 10px;
			border-radius: 100%;
			content: "";
			background: #A3CFD2;
			position: absolute;
			top: calc(50% - 5px);
			left: calc(50% - 5px);
			transition: $mainTransition;
		}
	}
	.radio-custom__text {
		font-family: Gilroy;
		font-style: normal;
		font-weight: normal;
		font-size: 18px;
		line-height: 21px;
		color: #000000;
		padding-left: 13px;
	}
	input:checked + span {
		&:before {
			opacity: 1;
			transition: $mainTransition;
		}
	}
}


.form-calc {
	padding: 34px 30px 90px 30px;
	background-color: #fff;

	.title {
		display: block;
		font-style: normal;
		font-weight: 500;
		font-size: 18px;
		line-height: 21px;
		color: #000000;
		margin-bottom: 10px;
	}
	.subtitle {
		display: block;
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		line-height: 17px;
		color: #737374;
		margin-bottom: 30px;
	}
	input[type="text"] {
		background: #E5E5E5;
		border: 1px solid #E5E5E5;

		font-family: Rubik;
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		line-height: 17px;
		color: #737374;

		&::-webkit-input-placeholder 	{ color: #737374; text-align: center; }
		&:-ms-input-placeholder 		{ color: #737374; text-align: center; }
		&::-ms-input-placeholder 		{ color: #737374; text-align: center; }
		&::placeholder 					{ color: #737374; text-align: center; }
	}
	.checkbox {
		font-size: 12px;
		line-height: 14px;
		color: #C4C4C4;
		a {
			color: inherit;
			font-size: inherit;
			transition: $mainTransition;
			text-decoration: underline;
			&:hover {
				color: $colorMain;
				transition: $mainTransition;
			}
		}
	}
	.checkbox label:after {
		content: '';
		display: table;
		clear: both;
	}

	.checkbox .cr {
		display: inline-block;
		width: 10px;
		height: 10px;
		border-radius: 2px;
		position: relative;
		z-index: 2;
		border: 1px solid #C4C4C4;
		margin-right: 8px;

		cursor: pointer;
	}

	.checkbox .cr img {
		position: absolute;
		line-height: 0;
		top: calc(50% - 3px);
		left: 15%;

	}

	.checkbox label input[type="checkbox"] {
		display: none;
	}

	.checkbox label input[type="checkbox"]+.cr>img {
		opacity: 0;
	}

	.checkbox label input[type="checkbox"]:checked+.cr>img {
		opacity: 1;
	}

	.checkbox label input[type="checkbox"]:disabled+.cr {
		opacity: .5;
	}
}
