.btn {
	border: 1px solid transparent;;
	border-radius: 0px;
	padding: 14px 20px;
	background-color: #000;

	font-family: Rubik;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 21px;
	color: #FFFFFF;

	transition: $mainTransition;
	position: relative;
	&:before {
		content: "";
		position: absolute;
		top: -1px;
		right: -1px;
		border: 10px solid transparent;
		border-top: 10px solid $colorMain;
		border-right: 10px solid $colorMain;
		transition: $mainTransition;
	}

	&:hover {
		background: #fff;
		color: $colorMain;
		border-color: $colorMain;
		transition: $mainTransition;
		border: 1px solid #000;
		&:before {
			border-top: 10px solid #000;
			border-right: 10px solid #000;
			transition: $mainTransition;
		}
	}
	&.btn-cart {
		background: #F2475F;
		border-radius: 15px;

		font-family: Gilroy;
		font-style: normal;
		font-weight: bold;
		font-size: 18px;
		line-height: 22px;
		color: #FFFFFF;
		padding: 9px 30px;

		border: 2px solid transparent;
		&:hover {
			border: 2px solid $colorMain;
			color: $colorMain;
			transition: $mainTransition;

		}
	}
	&.btn-bask {
		border-radius: 15px;
		background-color: $colorMain;
		padding: 9px 30px;
		&:before {
			display: none;
		}
	}
}
.btn-add {
	border: 1px solid transparent;;
	background: #174051;
	border-radius: 11px;
	padding: 7px 22px;

	font-family: Gilroy;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 17px;
	color: #FFFFFF;

	transition: $mainTransition;
	&:hover {
		color: #000;
		background: none;
		border: 1px solid #174051;
		transition: $mainTransition;
	}
}
.btn-big-red {
	padding: 11px 86px;
	background-color: $colorMain;

	transition: $mainTransition;

	font-family: Rubik;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 21px;

	color: #FFFFFF;

	border: 1px solid transparent;

	box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.05);
	&:hover {
		border: 1px solid $colorMain;
		color: #000;
		transition: $mainTransition;
		background: #fff;
	}
}

.btn-theme-dark {

}

.btn_callback {
	font-size: 12px;
	line-height: 14px;
	border-bottom: 1px solid $colorMain;
	color: $colorMain;
	transition: $mainTransition;
	&:hover {
		color: $colorMain;
		border-bottom: 1px solid transparent;
		transition: $mainTransition;
	}
}


.link-download {
	display: flex;
	align-items: center;

	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 17px;

	color: #000000;

	margin-right: 25px;
	padding-right: 33px;
	border-right: 1px solid #DADADA;
	i {
		font-size: 18px;
		margin-right: 8px;
	}
	&:hover {
		text-decoration: none;
		color: $colorMain;
		transition: $mainTransition;
		i {
		}
	}
}



.link-phone {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	span {
		font-family: Roboto;
		font-style: normal;
		display: block;
		margin: 0px;
		transition: $mainTransition;
		&:first-child {
			font-weight: normal;
			font-size: 14px;
			line-height: 16px;
			color: #9C9E9C;
		}
		&:last-child {
			font-weight: bold;
			font-size: 20px;
			line-height: 23px;
			color: #000000;
		}
	}
	svg {
		margin-right: 10px;
		path {
			transition: $mainTransition;
		}
	}
	&:hover {
		text-decoration: none;
		transition: $mainTransition;
		span {
			&:last-child {
				color: $colorMain;
			}
		}
		svg {
			path {
				fill: $colorMain;
				transition: $mainTransition;
			}
		}
	}
}
.btn-filter {
	display: flex;
	align-items: center;
	padding: 11px 20px;
	background-color: $colorMain;

	width: 100%;
	max-width: 180px;

	font-family: Rubik;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 17px;
	color: #FFFFFF;

	cursor: pointer;
	i {
		font-size: 20px;
		margin-left: 18px;
	}
}
.slider-icon-1-next.slick-arrow,
.slider-icon-1-prev.slick-arrow {
	display: flex;
	align-items: center;
	justify-content: center;
}

.cart-delete {
	button {
		border: 0px;
		padding: 0px;
		margin: 0px;
		background: none;
		font-size: 18px;
		margin-left: 10px;
		color: #000;
		transition: $mainTransition;
		&:hover {
			color: $colorMain;
			transition: $mainTransition;
		}
	}
}
