@font-face {
	font-family: 'icomoon';
	src:  	url('../fonts/icomoon/icomoon.eot?ko55ct');
	src:  	url('../fonts/icomoon/icomoon.eot?ko55ct#iefix') format('embedded-opentype'),
			url('../fonts/icomoon/icomoon.ttf?ko55ct') format('truetype'),
			url('../fonts/icomoon/icomoon.woff?ko55ct') format('woff'),
			url('../fonts/icomoon/icomoon.svg?ko55ct#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'icomoon' !important;
	speak: never;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.icon-arrow-left:before {
  content: "\e900";
}
.icon-arrow-right:before {
  content: "\e901";
}
.icon-bin:before {
  content: "\e902";
}
.icon-branding:before {
  content: "\e903";
  color: #e31e24;
}
.icon-Calculator:before {
  content: "\e904";
}
.icon-close:before {
  content: "\e905";
}
.icon-download:before {
  content: "\e906";
}
.icon-filter:before {
  content: "\e907";
  color: #fff;
}
.icon-heart:before {
  content: "\e908";
  color: #9c9e9c;
}
.icon-instagram:before {
  content: "\e909";
}
.icon-license:before {
  content: "\e90a";
  color: #e31e24;
}
.icon-location:before {
  content: "\e90b";
}
.icon-logistics:before {
  content: "\e90c";
  color: #e31e24;
}
.icon-mail:before {
  content: "\e90d";
}
.icon-phone:before {
  content: "\e90e";
}
.icon-search:before {
  content: "\e90f";
}
.icon-shopping-cart:before {
  content: "\e910";
}
.icon-telegram:before {
  content: "\e911";
}
.icon-truck:before {
  content: "\e912";
}
.icon-vk:before {
  content: "\e913";
}
.icon-whatsapp:before {
  content: "\e914";
}
.icon-youtube:before {
  content: "\e915";
}
