.breadcrumb-area {
	padding: 54px 0 50px 0px;
	background-color: #F0F4F6;
	.breadcrumb-content {
		ul {
			padding-left: 0px;
			display: flex;
			align-items: center;
			justify-content: center;
		}
		a, .active, li::before {
			text-transform: none;
			color: #000000;
			font-style: normal;
			font-weight: normal;
			font-size: 14px;
			line-height: 17px;
		}
		li.active {
			color: $colorMain;
		}
		li::before {
			width: 14px;
			right: -16px;
		}
	}
	&.breadcrumb-area-30p {
		padding: 30px 0px;
	}
}
