div(class="advantages-area d-none d-lg-block")
	div(class="container")
		div(class="row")
			div(class="col-12")
				h2(class="h1 text-center mb-42")
					| Преимущества для наших клиентов
			div(class="col-6 d-flex flex-column align-items-start")
				h3(class="h1 mb-39")
					| Для юридических<br>лиц
				div(class="mb-15 d-flex align-items-center")
					img(class="lazyload mr-18" data-src="images/advantage1.svg" alt="img")
					span(class="advantages__text")
						| Персональный менеджер
				div(class="mb-15 d-flex align-items-center")
					img(class="lazyload mr-18" data-src="images/advantage2.svg" alt="img")
					span(class="advantages__text")
						| Удобная доставка
				div(class="mb-15 d-flex align-items-center")
					img(class="lazyload mr-18" data-src="images/advantage3.svg" alt="img")
					span(class="advantages__text")
						| Отсрочка платежа
				div(class="mb-15 d-flex align-items-center")
					img(class="lazyload mr-18" data-src="images/advantage4.svg" alt="img")
					span(class="advantages__text")
						| Индивидуальные цены
			div(class="col-6 d-flex flex-column align-items-end")
				h3(class="h1 mb-39 text-right")
					| Для розничных<br>покупателей
				div(class="mb-15 d-flex align-items-center")
					span(class="advantages__text")
						| Гарантия низкой цены
					img(class="lazyload ml-18" data-src="images/advantage5.svg" alt="img")
				div(class="mb-15 d-flex align-items-center")
					span(class="advantages__text")
						| Доставка до объекта
					img(class="lazyload ml-18" data-src="images/advantage6.svg" alt="img")
				div(class="mb-15 d-flex align-items-center")
					span(class="advantages__text")
						| Бесплатная консультация
					img(class="lazyload ml-18" data-src="images/advantage7.svg" alt="img")
				div(class="mb-15 d-flex align-items-center")
					span(class="advantages__text")
						| Бонусы и скидки
					img(class="lazyload ml-18" data-src="images/advantage8.svg" alt="img")
