<div class="breadcrumb-area">
	<div class="container">
		div(class="row")
			div(class="col-12")
				h1(class="text-center mb-29")
					| Каталог
			div(class="col-12")
				<div class="breadcrumb-content">
					<ul>
						<li>
							<a href="#">главная</a>
						</li>
						<li class="active">каталог</li>
					</ul>
				</div>
	</div>
</div>
