footer(class="footer-area")
	div(class="container")
		div(class="row")
			div(class="col-12 col-lg-4 pb-3 pb-lg-5 d-flex justify-content-center justify-content-lg-start order-1")
				a(href="#" class="logo")
					picture()
						img(class="lazyload" data-src="images/logo.png" alt="img")
			div(class="col-12 col-lg-8 d-none d-lg-flex justify-content-end order-2")
				ul(class="d-flex navigation")
					each item in ["Главная", "Каталог", "Услуги", "Доставка и оплата", "Контакты"]
						li()
							a(href="#" class="footer-link-nav")
								= item
			div(class="col-12 col-lg-4 pb-34 d-flex flex-column align-items-center align-items-lg-start order-3")
				span(class="footer-title")
					| Наш адрес
				p(class="footer-text")
					| Челябинск, ул. 40 лет Победы, д. 31, офис 2
			div(class="col-12 col-lg-8 d-flex justify-content-center justify-content-lg-end align-items-lg-start order-2 order-lg-4 pt-1 pt-lg-0 pb-5 pb-lg-0")
				div(class="social-block social-block_footer")
					a(class="social-block__item" href="#")
						i(class="icon-vk")
					a(class="social-block__item" href="#")
						i(class="icon-instagram")
					a(class="social-block__item" href="#")
						i(class="icon-telegram")
					a(class="social-block__item" href="#")
						i(class="icon-whatsapp")
					a(class="social-block__item" href="#")
						i(class="icon-youtube")
			div(class="col-12 col-lg-4 d-flex flex-column align-items-center align-items-lg-start order-4 order-lg-5 pb-3 pb-lg-0")
				span(class="footer-title")
					| Телефон:
				a(class="footer-text footer-link" href="tel:+73512807785")
					| +7 (351) 280-77-85
			div(class="col-12 col-lg-8 d-flex justify-content-end align-items-end order-6")
				a(class="copyright footer-link" href="#")
					| ООО ПКФ “Теплоизоляция” | политика обработки данных
