<header class="header-area">
	<div class="header-top container-1550 d-none d-lg-block">
		<div class="row align-items-center">
			div(class="col-lg-6")
				p(class="header-area__description")
					| Официальный дистрибьютор продукции ROCKWOOL
			<div class="col-lg-6 d-flex align-itens-center justify-content-end">
				a(class="link-download" href="#" download)
					i(class="icon-download")
					| Скачать презентацию
				include social-area.pug
			</div>
		</div>
	</div>
	<div class="header-bottom">
		<div class="container-1550">
			<div class="row align-items-center">
				div(class="col-4 col-lg-2")
					a(href="#" class="logo")
						picture()
							source(srcset="images/logo-mobile.png" media="(max-width: 991px)")
							img(class="lazyload" data-src="images/logo.png" alt="img")
				div(class="col-lg-6 d-none d-lg-block")
					div(class="main-menu")
						nav
							ul
								each item,index in ["Главная", "Каталог", "Услуги", "Доставка и оплата", "Контакты"]
									if(index == 1)
										li(class="main-menu__link active")
											a(href="#")
												= item
									else
										li(class="main-menu__link")
											a(href="#")
												= item
				div(class="col-8 col-lg-4")
					div(class="header-action header-action-flex align-items-center")
						div(class="header-phone d-flex")
							a(href="#" data-toggle="modal" data-target="#modalCallback")
								i(class="icon-phone")
							div(class="d-none d-lg-flex flex-column align-items-end pl-10")
								a(href="tel:+73512807785" class="link")
									| +7 351 280-77-85
								a(class="btn_callback" href="#" data-toggle="modal" data-target="#modalCallback")
									| заказать звонок
						a(href="#" class="header-search mr-10 d-none d-lg-block")
							i(class="icon-search")
						<div class="same-style-2 same-style-2-white same-style-2-font-dec header-cart">
							<a class="cart-active" href="#">
								<div class="position-relative">
									i(class="icon-shopping-cart")
									<span class="cart-active-count">02</span>
								</div>
							</a>
						</div>
						div(class="same-style-2 main-menu-icon d-block d-lg-none")
							a(class="mobile-header-button-active" href="#")
								span
			</div>
		</div>
	</div>
</header>
<!-- mobile header start -->
<div class="mobile-header-active mobile-header-wrapper-style">
	<div class="clickalbe-sidebar-wrap">
		a(class="sidebar-close")
			i(class="icon-close")
		<div class="mobile-header-content-area">
			<div class="mobile-search mobile-header-padding-border-1">
				<form action="#" class="form-search search-form">
					<input placeholder="Поиск..." type="text" class="form-search-input">
					<button class="button-search btn-submit" type="submit">
						i(class="icon-search")
					</button>
				</form>
			</div>
			<div class="mobile-menu-wrap mobile-header-padding-border-2">
				<!-- mobile menu start -->
				<nav>
					<ul class="mobile-menu">
						each item,index in ["Главная", "Каталог", "Услуги", "Доставка и оплата", "Контакты"]
							if(index == 1)
								li(class="main-menu__link active")
									a(href="#")
										= item
							else
								li(class="main-menu__link")
									a(href="#")
										= item
					</ul>
				</nav>
				<!-- mobile menu end -->
			</div>
			<div class="mobile-contact-info mobile-header-padding-border-4">
				<ul>
					<li>
						a(href="tel:+73512807785" class="d-flex align-items-center")
							i(class="icon-phone")
							| +7 (351) 280-77-85
						</li>
					<li>
						a(href="email:domostroy174@bk.ru" class="d-flex align-items-center")
							i(class="icon-mail")
							| domostroy174@bk.ru
					</li>
					<li class="d-flex align-items-center">
						i(class="icon-location")
						| Челябинск, ул. 40 лет Победы, д. 31, офис 2
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<!-- mini cart start -->
<div class="sidebar-cart-active">
	<div class="sidebar-cart-all">
		div()
			a(class="cart-close")
				i(class="icon-close")
		<div class="cart-content">
			span(class="title")
				| Корзина
			div
				<ul>
					-for (var i = 0; i < 10; i++)
						<li class="single-product-cart">
							<div class="cart-img">
								<a href="#">
									<img class="lazyload" data-src="images/mini-cart.png" alt="img">
								</a>
							</div>
							<div class="cart-title">
								<a href="#">Simple Black T-Shirt sdf sdf sdf sdf sdf sd sdf sd fsd f</a>
								<span>1 × 1 175 ₽</span>
							</div>
							<div class="cart-delete">
								form(action="" method="")
									button(type="submit")
										i(class="icon-bin")
							</div>
						</li>
				</ul>
			<div class="cart-total">
				<h4>Цена: <span>2 354 ₽</span></h4>
			</div>
			<div class="cart-checkout-btn">
				<a class="btn-hover cart-btn-style" href="#">Оформить</a>
			</div>
		</div>
	</div>
</div>
