div(class="social-block")
	a(class="social-block__item" href="#")
		i(class="icon-vk")
	a(class="social-block__item" href="#")
		i(class="icon-instagram")
	a(class="social-block__item" href="#")
		i(class="icon-telegram")
	a(class="social-block__item" href="#")
		i(class="icon-whatsapp")
	a(class="social-block__item" href="#")
		i(class="icon-youtube")
