div(class="pt-97 pb-135")
	div(class="container")
		div(class="row")
			div(class="col-12")
				h2(class="h1 text-center mb-80 mb-mob-76")
					| Теплоизоляционные материалы
			div(class="col-12 col-lg-7 pb-4 pb-lg-0")
				p(class="mb-25")
					| Равным образом постоянное информационно-пропагандистское обеспечение нашей деятельности обеспечивает широкому кругу (специалистов) участие в формировании соответствующий условий активизации. 
				blockquote(class="mb-48")
					p
						| Равным образом постоянное информационно-пропагандистское обеспечение нашей деятельности влечет за собой процесс внедрения и модернизации позиций, занимаемых участниками в отношении поставленных задач. 
				a(class="btn" href="#")
					| Подробнее
			div(class="col-12 col-lg-5")
				div(class="video-block")
					div(class="video-block__item")
						<iframe width="100%" height="248" src="https://www.youtube.com/embed/KGwWxZ-fgfk" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					div(class="video-block__bg")
