.footer-area {
	padding: 60px 0 65px 0px;
	background-color: #F0F4F6;

	ul {
		padding: 0px;
		margin: 0px;
		li {
			list-style: none;
		}
	}
	.navigation {
		li {
			margin-right: 30px;
			&:last-child {
				margin: 0px;
			}
			@media (min-width: 992px) and (max-width: 1450px) {
				margin-right: 20px;
			}
			@media (min-width: 992px) and (max-width: 1250px) {
				margin-right: 10px;
			}
			@media (min-width: 992px) and (max-width: 1050px) {
				margin-right: 5px;
			}
		}
	}
	.footer-link-nav {
		font-style: normal;
		font-weight: 500;
		font-size: 18px;
		line-height: 21px;
		text-transform: uppercase;


		color: #000000;

		transition: $mainTransition;
		padding-bottom: 1px;
		border-bottom: 1px solid transparent;
		&:hover {
			color: $colorMain;
			transition: $mainTransition;
			text-decoration: none;
			border-bottom: 1px solid $colorMain;
		}



		@media (min-width: 992px) and (max-width: 1450px) {
			font-size: 16px;
		}
		@media (min-width: 992px) and (max-width: 1250px) {
			font-size: 14px;
		}
		@media (min-width: 992px) and (max-width: 1050px) {
			font-size: 12px;
		}
	}

	.footer-title {
		display: block;
		margin-bottom: 13px;
		font-style: normal;
		font-weight: 500;
		font-size: 14px;
		line-height: 17px;
		text-transform: uppercase;
		color: #C4C4C4;
	}
	.footer-text {
		font-style: normal;
		font-weight: 500;
		font-size: 14px;
		line-height: 17px;
		color: #000000;
		@media (max-width: 991px) {
			text-align: center;
		}
	}
	.footer-link {
		&:hover {
			text-decoration: none;
			color: $colorMain;
			transition: $mainTransition;
		}
	}
	@media (max-width: 991px) {
		padding: 40px 50px;
	}
}

.copyright {
	display: block;
	color: #C4C4C4;
	@media (max-width: 991px) {
		text-align: center;
		padding-top: 20px;
		border-top: 1px solid #9C9E9C;
	}
}
