.category-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 33px 10px;
	img {
		transition: $mainTransition;
		margin-bottom: 17px;
	}
	span {
		display: block;
		font-weight: bold;
		font-size: 18px;
		line-height: 21px;
		color: #000000;
		text-align: center;
	}
	&:hover {
		img {
			transform: scale(1.1);
			transition: $mainTransition;
		}
		span {
			color: $colorMain;
			transition: $mainTransition;
		}
	}
}


.shop-area {
	padding: 84px 0px 120px 0px;
	.sidebar-widget {
		padding-bottom: 50px;
		.sidebar-widget-title {
			display: block;
			font-style: normal;
			font-weight: bold;
			font-size: 18px;
			line-height: 22px;
			color: #000000;
			margin: 0 0 20px 0;
			&.sidebar-widget-title_border {
				padding-bottom: 10px;
				margin-bottom: 17px;
				border-bottom: 1px solid #9C9E9C;
			}
		}
		.sidebar-widget-list {
			ul {
				padding: 0px;
				li {
					list-style: none;
					a {
						font-style: normal;
						font-weight: normal;
						font-size: 14px;
						line-height: 16px;
						color: #000000;
						span {
							float: unset;
							background: none;
						}
						&:hover {
							color:  #F03C3C;
							span {
								color: #000000;
							}
						}
					}
				}
			}
		}
		.shop-catigory {
			ul {
				padding-left: 0px;
				li {
					list-style: none;
					a {
						font-family: Rubik;
						font-style: normal;
						font-weight: normal;
						font-size: 14px;
						line-height: 17px;
					}
				}
			}
		}
	}
	.shop-topbar-wrapper {
		padding: 17px 26px 14px 26px;
		border: 1px solid #E5E5E5;
		.shorting-style {
			label {
				font-style: normal;
				font-weight: normal;
				font-size: 18px;
				line-height: 21px;
				color: #000000;
				@media (max-width: 991px) {
					font-size: 14px;
					line-height: 120%;
					margin-right: 6px;
				}
			}
			select {
				padding: 5px 13px;
				border: 1px solid #E5E5E5;
				border-radius: 5px;

				font-style: normal;
				font-weight: normal;
				font-size: 14px;
				line-height: 16px;
				color: #9C9E9C;
				@media (max-width: 991px) {
					padding: 5px 7px;
					width: 76px;
				}
			}
		}
		@media (max-width: 991px) {
			padding: 7px 10px;
			.product-show {
				margin: 0px;
				display: flex;
				align-items: center;
			}
		}
	}
	@media (max-width: 991px) {
		padding: 50px 0px;
	}
}
.sidebar-widget .price-filter #slider-range .ui-slider-handle {
	cursor: pointer;
}
.sidebar-widget .sidebar-widget-list ul li .sidebar-widget-list-left .checkmark {
	top: 0px;
	border-radius: 3px;
	border: 1px solid #E5E5E5;
}
.single-product-wrap {
	&.single-product-wrap_block {
		box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.05);

		.product-content-wrap-3 {
			padding-left: 7px;
			.categ {
				font-style: normal;
				font-weight: normal;
				font-size: 14px;
				line-height: 16px;
				color: #9C9E9C;

				display: block;
				margin-bottom: 10px;
				@media (max-width: 991px) {
					font-size: 12px;
					line-height: 120%;
				}
			}
			.title {
				display: block;
				margin-bottom: 10px;
				font-style: normal;
				font-weight: 600;
				font-size: 14px;
				line-height: 17px;
				color: #000000;

			}
		}
		.pro-badge {
			left: 15px!important;
		}
	}
}

.pro-pagination-style {
	padding: 75px 0 0 0;
	ul {
		padding-left: 0px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	ul li a {
		width: 42px;
		height: 42px;

		display: flex;
		justify-content: center;
		align-items: center;

		font-style: normal;
		font-weight: bold;
		font-size: 24px;
		line-height: 29px;
		color: #000000;
	}
	.pro-pagination-style ul li a.next, .pro-pagination-style ul li a.prev {
		background: #E5E5E5;
		color: #454545;
	}
	@media (max-width: 991px) {
		padding: 50px 0 0 0px;
	}
}
.shop-topbar-wrapper .product-sorting-wrapper .shorting-style select {
	background: none;
}

.pro-pagination-style ul li a.next:hover, .pro-pagination-style ul li a.prev:hover {
	svg {
		path {
			stroke: #fff;
		}
	}
}


.sidebar-wrapper__mobile {
	@media (max-width: 991px) {
		position: fixed;
		top: 0px;
		right: 0px;
		bottom: 0px;
		left: 0px;
		opacity: -10;
		z-index: -10;
		transition: $mainTransition;
		background: #fff;
		padding: 30px 15px 10px 15px;
		margin: 0px;
		overflow: scroll;
	}
	&.sidebar-wrapper__mobile_show {
		@media (max-width: 991px) {
			position: fixed;
			top: 0px;
			right: 0px;
			bottom: 0px;
			left: 0px;
			opacity: 10;
			z-index: 10;
			transition: $mainTransition;
		}
	}
}
