doctype html
html(lang="ru")
	head
		meta(charset = 'utf-8')
		meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
			
		link(href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet")
		link(rel="stylesheet" href="css/main.min.css")
		link(href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet")
		link(rel="shortcut icon" href="images/favicon.ico" type="image/x-icon")
		title Теплоизоляция
	body
		div(class="main-wrapper")
			include components/header-area-inner.pug
			block content
			include components/footer-area.pug
			<!-- Modal -->
			<div class="modal fade" id="modalCallback" tabindex="-1" role="dialog" aria-labelledby="modalCallbackTitle" aria-hidden="true">
				<div class="modal-dialog modal-dialog-centered" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="modalCallbackTitle">Заказать звонок</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
							form(action="" method="")
								input(type="text" placeholder="Ваше имя" class="mb-4 w-100")
								input(type="text" placeholder="Ваш телефон" class="w-100")
						</div>
						<div class="modal-footer">
							<button type="submit" class="btn btn-primary">Отправить</button>
						</div>
					</div>
				</div>
			</div>
		script(src="js/main.min.js")
