extends base-inner.pug
block content
	<div class="breadcrumb-area breadcrumb-area-30p">
		<div class="container">
			div(class="row")
				div(class="col-12")
					<div class="breadcrumb-content">
						<ul>
							<li>
								<a href="#">главная</a>
							</li>
							<li class="active">каталог</li>
						</ul>
					</div>
		</div>
	</div>
	<div class="cart-main-area">
		<div class="container">
			<h2 class="cart-page-title">Корзина</h2>
			div(class="content")
				-for (var i = 0; i < 2; i++)
					div(class="row py-4")
						div(class="col-12 col-lg-2 ")
							div(class="product-thumbnail")
								<a href="#"><img class="lazyload" data-src="images/Rectangle 18.png" alt="img"></a>
						div(class="col-12 col-lg-5")
							div(class="product-name")
								a(href="#")
									| Фанера 10 мм ФК нешлифованная 1525x1525 мм сорт 4/4, 2.325 м2
						div(class="col-12 col-lg-2")
							form(class="product-quantity pro-details-quality" action="" method="")
								<div class="cart-plus-minus">
									<input class="cart-plus-minus-box" type="number" name="qtybutton" value="1">
								</div>
						div(class="col-12 col-lg-2")
							div(class="product-price-cart")
								span(class="amount")
									| 3 222 ₽
						div(class="col-12 col-lg-1")
							form(class="product-remove" action="" method="")
								div(class="product-remove-btn")
									i(class="icon-bin")
					div(class="line")
			form(action="" method="" class="form-cart")
				div(class="row")
					div(class="col-12 col-lg-9")
						div(class="cart-block")
							h2(class="title-cart")
								| Данные получателя
							div(class="row")
								div(class="col-12 col-lg-4 pb-4 pb-lg-0")
									input( class="w-100" type="text" placeholder="Имя")
								div(class="col-12 col-lg-4 pb-4 pb-lg-0")
									input( class="w-100" type="tel" placeholder="Телефон*")
								div(class="col-12 col-lg-4")
									input( class="w-100" type="email" placeholder="E-mail*")
						div(class="cart-block")
							h2(class="title-cart")
								| Варианты доставки
							div(class="row  d-flex flex-column flex-lg-row align-items-lg-start pb-3")
								div(class="col-12 col-lg-3 ")
									label(class="radio-custom")
										input(type="radio" name="delivery" checked)
										span(class="radio-custom__circle")
										span(class="radio-custom__text")
											| Доставка
									span(class="cart-block__description")
										| После оформления заявки с вами свяжется менеджер для уточнения стоимости доставки
								div(class="col-12 col-lg-3")
									label(class="radio-custom")
										input(type="radio" name="delivery")
										span(class="radio-custom__circle")
										span(class="radio-custom__text")
											| Самовывоз
							h2(class="title-cart")
								|Адрес доставки
							div(class="row")
								div(class="col-12 col-lg-4 pb-4 pb-lg-0")
									input( class="w-100" type="text" placeholder="Город")
								div(class="col-12 col-lg-4")
									input( class="w-100" type="text" placeholder="Адрес")
						div(class="cart-block")
							h2(class="title-cart")
								| Способы оплаты
							div(class="row  d-flex flex-column flex-lg-row align-items-lg-start pb-5")
								div(class="col-12 col-lg-3 ")
									label(class="radio-custom")
										input(type="radio" name="oplata" checked)
										span(class="radio-custom__circle")
										span(class="radio-custom__text")
											| Наличный расчет
								div(class="col-12 col-lg-3")
									label(class="radio-custom")
										input(type="radio" name="oplata")
										span(class="radio-custom__circle")
										span(class="radio-custom__text")
											| Оплата по счету
							div(class="")
								h2(class="title-cart")
									| Комментарий
								textarea(placeholder="Вы можете оставить дополнительную информацию о заказе")
					div(class='col-12 col-lg-3 pt-4')
						<div class="grand-totall">
							span(class="title")
								b
									| Ваш заказ
							span(class="d-block title pb-4")
								| Самовывоз
							div(class="price d-flex justify-content-between")
								span
									| Итого
								span
									b
										| 5 555 ₽
							div(class="d-flex justify-content-center")
								button(type="submit" class="btn btn-big-red btn-bask")
									| Оформить заказ
			</div>
		</div>
	</div>
