extends base-inner.pug
block content
	include components/breadcrumb-area.pug
	<div class="shop-area">
		<div class="container">
			<div class="row flex-row-reverse">
				<div class="col-12 col-lg-9">
					div(class="d-flex d-lg-block align-items-center")
						div(class="shop-topbar-wrapper")
							<div class="product-sorting-wrapper">
								<div class="product-show shorting-style">
									<label>Сортировка</label>
									<select>
										<option value="">по цене</option>
										<option value="">по алфавиту</option>
										<option value="">по популярности</option>
									</select>
								</div>	
							</div>
						a(class="btn-filter d-inline-block d-lg-none mb-30" href="#")
							| Фильтрация
							i(class="icon-filter")
					<div class="shop-bottom-area">
						div(class="row")
							- for (var i = 0; i < 10; i++)
								<div class="col-6 col-lg-4 mb-4">
									div(class="product-plr-1")
										<form class="single-product-wrap single-product-wrap_block" action="" method="">
											<div class="product-img product-img-zoom mb-3">
												<a href="#">
													<img class="lazyload" data-src="images/mini-cart.png" alt="img">
												</a>
												<span class="pro-badge">-40%</span>
												<div class="product-action-2 tooltip-style-2">
													<a title="Wishlist" href="#"><i class="icon-heart"></i></a>
												</div>
											</div>
											<div class="product-content-wrap-3">
												span(class="categ")
													| Арт. 12750175
												<a href="#" class="title">Фанера 10 мм ФК нешлифованная 1525x1525 мм сорт 4/4, 2.325 м2</a>
												<div class="product-price-4">
													<span class="new-price">530 ₽/шт.</span>
													<span class="old-price">730 ₽/шт.</span>
												</div>
											</div>
											<div class="product-content-wrap-3 product-content-position">
												span(class="categ")
													| Арт. 12750175
												<a href="#" class="title">Фанера 10 мм ФК нешлифованная 1525x1525 мм сорт 4/4, 2.325 м2</a>
												<div class="product-price-4">
													<span class="new-price">530 ₽/шт.</span>
													<span class="old-price">730 ₽/шт.</span>
												</div>
												div(class="pt-3 pb-3 d-flex justify-content-center")
													button(type="submit" class="btn-add")
														| В корзину
											</div>
										</form>
								</div>
						<div class="pro-pagination-style text-center">
							<ul>
								<li><a class="prev" href="#">
									<svg width="11" height="19" viewBox="0 0 11 19" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10 1.5L2 9.5L10 17.5" stroke="#454545" stroke-width="2" stroke-linecap="round"/></svg>
								</a></li>
								<li><a class="active" href="#">1</a></li>
								<li><a href="#">2</a></li>
								<li><a class="next" href="#">
									<svg width="11" height="19" viewBox="0 0 11 19" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 17.5L9 9.5L1 1.5" stroke="#454545" stroke-width="2" stroke-linecap="round"/></svg>
								</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-12 col-lg-3">
					<form class="sidebar-wrapper sidebar-wrapper-mrg-right sidebar-wrapper__mobile" action="" method="">
						div(class="d-lg-none close-block sidebar-wrapper__mobile-close mb-25")
							i(class="icon-close")
						<div class="sidebar-widget">
							<span class="sidebar-widget-title sidebar-widget-title_border">Категории</span>
							<div class="shop-catigory">
								<ul>
									each item in ["Все товары", "Теплоизоляция", "Гидроизоляция", "Пароизоляция", "Гидро-ветрозащита"]
										li()
											a(href="#")
												= item
								</ul>
							</div>
						</div>
						<div class="sidebar-widget">
							<span class="sidebar-widget-title">Фильтр по цене</span>
							<div class="price-filter">
								<div id="slider-range"></div>
							</div>
						</div>
						<div class="sidebar-widget">
							<span class="sidebar-widget-title">Тип товара</span>
							<div class="sidebar-widget-list">
								<ul>
									each item in ["Каменная вата", "Минераловатный утеплитель", "Пенопласт", "Вспененнный полиэтилен"]
										li()
											<div class="sidebar-widget-list-left">
												<input type="checkbox" value="">
													<a href="#">
														= item
													</a>
												<span class="checkmark"></span>
											</div>
								</ul>
							</div>
						</div>
						<div class="sidebar-widget">
							<span class="sidebar-widget-title">Бренд</span>
							<div class="sidebar-widget-list">
								<ul>
									each item in ["Rockwool", "URSA", "ТехноНИКОЛЬ", "Пеноплэкс"]
										li
											<div class="sidebar-widget-list-left">
												<input type="checkbox" value="">
													<a href="#">
														= item
													</a>
												<span class="checkmark"></span>
											</div>
								</ul>
							</div>
						</div>
						<div class="sidebar-widget">
							<span class="sidebar-widget-title">Назначение</span>
							<div class="sidebar-widget-list">
								<ul>
									each item in ["Кровля", "Мансарда", "Перегородки", "Перекрытия"]
										<li>
											<div class="sidebar-widget-list-left">
												<input type="checkbox" value="">
												<a href="#">
													= item
												</a>
												<span class="checkmark"></span>
											</div>
										</li>
								</ul>
							</div>
						</div>
						div(class="d-flex justify-content-end d-lg-none")
							button(type="submit" class="btn")
								| Применить
					</form>
				</div>
			</div>
		</div>
	</div>
	include components/video-block.pug
