extends base-inner.pug
block content
	include components/breadcrumb-area.pug
	div(class="pt-60 pb-29")
		div(class="container")
			div(class="row")
				- var imgAr = ["images/category-item-1.png", "images/category-item-2.png", "images/category-item-3.png", "images/category-item-4.png"];
				-var titleAr = ["Для кровли", "Для фасадов", "Огнеупорный утеплитель", "Техническая изоляция"];
				-for (var j = 0; j< 3; j++)
					-for (var i = 0; i < 4; i++)
						div(class="col-12 col-md-6 col-lg-3 mb-30")
							a(class="category-item " href="#")
								img(class="lazyload" data-src=imgAr[i] alt="img")
								span()
									= titleAr[i]
	include components/video-block.pug
