extends base-inner.pug
block content
	include components/breadcrumb-area.pug
	div(class="pt-88 pb-150")
		div(class="container")
			div(class="row pb-100")
				div(class="col-12 col-lg-6")
					p
						| Осуществляем доставку по России и Казахстану.
					p
						| Услуга доставки продукции: доставка продукции до указанного Вами места разгрузки (разгрузка осуществляется силами покупателя) осуществляется автотранспортом объемом от 5 до 10м3. Дата, время и место разгрузки согласуются с нашими менеджерами
				div(class="col-12 col-lg-6 pt-4 pt-lg-0")
					img(class="lazyload w-100" data-src="images/d1.png" alt="img")
			div(class="row pb-150")
				div(class="col-12 col-lg-6")
					img(class="lazyload w-100" data-src="images/d2.png" alt="img")
				div(class="col-12 col-lg-6 pt-4 pt-lg-0")
					p(class="text-right")
						| Осуществляем доставку по России и Казахстану.
					p(class="text-right")
						| Услуга доставки продукции: доставка продукции до указанного Вами места разгрузки (разгрузка осуществляется силами покупателя) осуществляется автотранспортом объемом от 5 до 10м3. Дата, время и место разгрузки согласуются с нашими менеджерами
			div(class="row")
				div(class="col-12")
					p()
						| Повседневная практика показывает, что реализация намеченных плановых заданий позволяет выполнять важные задания по разработке соответствующий условий активизации. Идейные соображения высшего порядка, а также укрепление и развитие структуры позволяет выполнять важные задания по разработке систем массового участия. Идейные соображения высшего порядка, а также консультация с широким активом позволяет оценить значение системы обучения кадров, соответствует насущным потребностям. Идейные соображения высшего порядка, а также постоянное информационно-пропагандистское обеспечение нашей деятельности требуют от нас анализа форм развития.
					p()
						| Идейные соображения высшего порядка, а также постоянное информационно-пропагандистское обеспечение нашей деятельности играет важную роль в формировании соответствующий условий активизации. Равным образом постоянный количественный рост и сфера нашей активности играет важную роль в формировании направлений прогрессивного развития. Товарищи! консультация с широким активом требуют определения и уточнения существенных финансовых и административных условий. Не следует, однако забывать, что новая модель организационной деятельности представляет собой интересный эксперимент проверки дальнейших направлений развития. Повседневная практика показывает, что начало повседневной работы по формированию позиции требуют от нас анализа дальнейших направлений развития. Задача организации, в особенности же новая модель организационной деятельности представляет собой интересный эксперимент проверки соответствующий условий активизации.
					p()
						| Равным образом дальнейшее развитие различных форм деятельности влечет за собой процесс внедрения и модернизации модели развития. Значимость этих проблем настолько очевидна, что постоянный количественный рост и сфера нашей активности играет важную роль в формировании направлений прогрессивного развития.
