extends base.pug
block content
	<div class="slider-area bg-gray-8">
		<div class="w-100">
			<div class="hero-slider-active-2 nav-style-1 nav-style-1-modify-2">
				<div class="single-hero-slider single-hero-slider-hm9 single-animation-wrap" style="background-image: url('images/slider1.png');">
					<div class="row h-100 slider-animated-1">
						<div class="col-lg-5 col-md-5 col-12 col-sm-6 d-flex justify-content-end">
							<div class="hero-slider-content-6 slider-content-hm9">
								<p class="animated subtitle">Новинка</p>
								<h1 class="animated title">Лайт Баттс Экстра</h1>
								<p class="animated description">Экстрапрочные плиты. Мультифункциональное решение для теплоизоляции частного дома.</p>
								<div>
									<a class="animated btn" href="#">Подробнее</a>
								</div>
							</div>
						</div>
						<div class="col-lg-7 col-md-7 col-12 col-sm-6 d-flex align-items-end">
							<div class="hm9-hero-slider-img">
								<img class="animated lazyload" data-src="images/slider11.png" alt="img">
							</div>
						</div>
					</div>
				</div>
				<div class="single-hero-slider single-hero-slider-hm9 single-animation-wrap" style="background-image: url('images/slider1.png');">
					<div class="row h-100 slider-animated-1">
						<div class="col-lg-5 col-md-5 col-12 col-sm-6 d-flex justify-content-end">
							<div class="hero-slider-content-6 slider-content-hm9">
								<p class="animated subtitle">Новинка</p>
								<h2 class="animated title">Лайт Баттс Экстра</h2>
								<p class="animated description">Экстрапрочные плиты. Мультифункциональное решение для теплоизоляции частного дома.</p>
								<div>
									<a class="animated btn" href="#">Подробнее</a>
								</div>
							</div>
						</div>
						<div class="col-lg-7 col-md-7 col-12 col-sm-6 d-flex align-items-end">
							<div class="hm9-hero-slider-img">
								<img class="animated lazyload" data-src="images/slider21.png" alt="img">
							</div>
						</div>
					</div>
				</div>
				<div class="single-hero-slider single-hero-slider-hm9 single-animation-wrap" style="background-image: url('images/slider3.png');">
					<div class="row h-100 slider-animated-1">
						<div class="col-lg-5 col-md-5 col-12 col-sm-6 d-flex justify-content-end">
							<div class="hero-slider-content-6 slider-content-hm9">
								<p class="animated subtitle">Школа обучения</p>
								<h2 class="animated title">Как правильно крыть крышу</h2>
								<p class="animated description">Новый видеоурок от наших партнеров компании Rockwool. Посмотрите чтобы чему нибудь научиться.</p>
								<div>
									<a class="animated btn" href="#">подробнее</a>
								</div>
							</div>
						</div>
						<div class="col-lg-7 col-md-7 col-12 col-sm-6 d-flex align-items-end">
							<div class="hm9-hero-slider-img">
								<img class="animated lazyload" data-src="images/slider31.png" alt="img">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="service-area">
		<div class="container">
			<div class="service-wrap service-wrap-hm9 px-3">
				<div class="row">
					<div class="col-lg-4 col-md-6 col-sm-6 col-12">
						<div class="single-service-wrap mb-30">
							<div class="service-icon">
								i(class="icon-logistics")
							</div>
							<div class="service-content">
								<span>Доставка до объекта</span>
								<span>Мы доставим Вам товар в нужном количестве по всей России.</span>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6 col-sm-6 col-12">
						<div class="single-service-wrap mb-30">
							<div class="service-icon">
								i(class="icon-license")
							</div>
							<div class="service-content">
								<span>Официальный представитель</span>
								<span>Мы являемся официальными представителями заводов изготовителей</span>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6 col-sm-6 col-12">
						<div class="single-service-wrap mb-30">
							<div class="service-icon">
								i(class="icon-branding")
							</div>
							<div class="service-content">
								<span>Гарантия низкой цены</span>
								<span>Мы гарантируем самую низкую цену. Нашли дешевле, позвоните нам.</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	div(class="info-area pt-94 pb-88")
		div(class="container")
			div(class="row")
				div(class="col-12 col-lg-3 pb-4 pb-lg-0 pt-lg-4")
					img(class="lazyload w-100" data-src="images/info-area.png" alt="img")
				div(class="col-12 col-lg-9")
					h2
						| Теплоизоляционные материалы
					p
						| Задача организации, в особенности же начало повседневной работы по формированию позиции требуют определения и уточнения дальнейших направлений развития. Повседневная практика показывает, что реализация намеченных плановых заданий играет важную роль в формировании существенных финансовых и административных условий. Не следует, однако забывать, что консультация с широким активом требуют определения и уточнения систем массового участия. Товарищи! постоянный количественный рост и сфера нашей активности требуют от нас анализа дальнейших направлений развития.
	div(class="pb-130")
		div(class="container")
			div(class="row")
				div(class="col-12")
					div(class="category-slider slider-default")
						-for(var i = 0; i < 6; i++)
							div(class="")
								a(class="category-item" href="#")
									img(data-lazy="images/category-item-1.png" alt="img")
									span()
										| Для кровли
	div(class="delivery-area pt-37 pb-68")
		div(class="container")
			div(class="row")
				div(class="col-12")
					h2(class="h1 text-center")
						| Доставка по всей России
				div(class="col-12 col-lg-8 pb-4 pb-lg-0")
					img(class="lazyload w-100" data-src="images/delivery-area.png" alt="img")
				div(class="col-12 col-lg-4 d-flex align-items-center")
					form(class="form-calc")
						span(class="title")
							| Сделаем расчёт доставки нашей продукции в ваш регион всего за 10 минут
						span(class="subtitle")
							| Все расчёты произведем бесплатно
						input(class="mb-18" type="text" placeholder="Введите контактные данные")
						button(class="btn-big-red w-100")
							| Рассчитать
						<div class="checkbox mt-13">
							<label>
								<input type="checkbox" value="" checked>
								<span class="cr"><img class="lazyload" data-src="images/check.svg" alt="img"></span>
								| Я принимаю условия <a href="#">обработки данных</a>
							</label>
						</div>
	div(class="pt-68 pb-170 pb-mob-20")
		div(class="container")
			div(class="row")
				div(class="col-12")
					h2(class="h1 text-center mb-35")
						| Наши партнеры
				div(class="col-12")
					div(class="partners-slider slider-default")
						-for(var i = 0; i < 3; i++)
							div(class="d-flex justify-content-center")
								a( href="#")
									img(data-lazy="images/p1.png" alt="img")
							div(class="d-flex justify-content-center")
								a( href="#")
									img(data-lazy="images/p2.svg" alt="img")
	include components/advantages-area.pug
	include components/video-block.pug
