extends base-inner.pug
block content
	<div class="breadcrumb-area breadcrumb-area-30p">
		<div class="container">
			div(class="row")
				div(class="col-12")
					<div class="breadcrumb-content">
						<ul>
							<li>
								<a href="#">главная</a>
							</li>
							<li class="active">каталог</li>
						</ul>
					</div>
		</div>
	</div>
	<div class="product-details-area pt-90">
		<div class="container">
			<div class="row">
				<div class="col-12 col-lg-6 col-md-6">
					<div class="product-details-tab">
						<div class="pro-dec-big-img-slider">
							div()
								<img class="lazyload w-100 img-fluid" data-src="images/product.png" alt="img">
							div()
								<img class="lazyload w-100 img-fluid" data-src="images/product.png" alt="img">
							div()
								<img class="lazyload w-100 img-fluid" data-src="images/product.png" alt="img">
							div()
								<img class="lazyload w-100 img-fluid" data-src="images/product.png" alt="img">
							div()
								<img class="lazyload w-100 img-fluid" data-src="images/product.png" alt="img">
						</div>
						<div class="product-dec-slider-small product-dec-small-style1 slider-default">
							<div class="product-dec-small active">
								<img class="lazyload" data-src="images/product.png" alt="img">
							</div>
							<div class="product-dec-small">
								<img class="lazyload" data-src="images/product.png" alt="img">
							</div>
							<div class="product-dec-small">
								<img class="lazyload" data-src="images/product.png" alt="img">
							</div>
							<div class="product-dec-small">
								<img class="lazyload" data-src="images/product.png" alt="img">
							</div>
							<div class="product-dec-small">
								<img class="lazyload" data-src="images/product.png" alt="img">
							</div>
						</div>
					</div>
				</div>
				<div class="col-12 col-lg-6 col-md-6">
					form(class="product-details-content pro-details-content-mrg" action="" method="")
						<h2>Утеплитель Роквул Лайт Баттс Скандик 150 мм 3.6 м²</h2>
						div(class="not-pro-details-price d-flex flex-column flex-lg-row align-items-center")
							span(class="mr-lg-4")
								| Цену уточняйте у менеджера
							a(href="#" data-toggle="modal" data-target="#modalCallback")
								img(class="lazyload mr-2" data-src="images/telephone 1.svg" alt="img")
								span
									| заказать звонок
						<div class="pro-details-price">
							//- <span class="new-price">530 ₽/шт.</span>
							//- <span class="old-price">730 ₽/шт.</span>
						</div>
						<div class="pro-details-size">
							<span>толщина, мм</span>
							<div class="pro-details-size-content">
								<ul>
									<li class="active"><a href="#">150</a></li>
									<li><a href="#">50</a></li>
									<li><a href="#">100</a></li>
								</ul>
							</div>
						</div>
						<div class="pro-details-quality">
							<span class="pro-details-quality-title">Количество:</span>
							<div class="cart-plus-minus">
								<input class="cart-plus-minus-box" type="number" name="qtybutton" value="1">
							</div>
						</div>
						<div class="pro-details-action-wrap d-flex flex-column flex-lg-row flex-lg-nowrap align-items-center">
							<div class="pro-details-add-to-cart">
								<button type="submit" class="btn-big-red">в корзину</button>
							</div>
							<div class="pro-details-action">
								a(href="#" data-toggle="modal" data-target="#modalCallback")
									i(class="icon-Calculator")
									span
										| Рассчитать расход материала
							</div>
						</div>
						div(class="product-count")
							span(class="product-count_stock")
								| В наличии
							span(class="product-count_order")
								| Под заказ
						div(class="product-delivery")
							div(class="d-flex align-items-center mr-4")
								i(class="icon-truck")
								span(class="pl-3")
									| Доставка товара
							div(class="d-flex align-items-center")
								i(class="icon-location")
								span(class="pl-2")
									| Самовывоз
				</div>
			</div>
		</div>
	</div>
	<div class="description-review-wrapper pb-110">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="dec-review-topbar nav mb-45">
						<a class="active" data-toggle="tab" href="#des-details1">Описание</a>
						<a data-toggle="tab" href="#des-details2">Характеристики</a>
						<a data-toggle="tab" href="#des-details3">Применение</a>
					</div>
					<div class="tab-content dec-review-bottom">
						<div id="des-details1" class="tab-pane active">
							<div class="description-wrap">
								p
									| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
								p
									| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
							</div>
						</div>
						<div id="des-details2" class="tab-pane">
							<div class="specification-wrap table-responsive">
								<table>
									<tbody>
										<tr>
											<td class="title width1"><b>Имя</b></td>
											<td>Salwar Kameez</td>
										</tr>
										<tr>
											<td class="title width1"><b>Модель</b></td>
											<td>FX 829 v1</td>
										</tr>
										<tr>
											<td class="title width1"><b>Категория</b></td>
											<td>Digital Print</td>
										</tr>
										<tr>
											<td class="title width1"><b>Размер</b></td>
											<td>60’’ x 40’’</td>
										</tr>
										<tr>
											<td class="title width1"><b>Бренд</b></td>
											<td>Individual Collections</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
						<div id="des-details3" class="tab-pane">
						
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="related-product pb-40">
		<div class="container">
			<div class="section-title mb-30 text-center">
				<h2 class="h1 text-center ">Сопутствующие товары</h2>
			</div>
			<div class="related-product-active pb-5">
				- for (var i = 0; i < 10; i++)
					div(class="product-plr-1")
						<form class="single-product-wrap single-product-wrap_block" action="" method="">
							<div class="product-img product-img-zoom mb-3">
								<a href="#">
									<img class="lazyload" data-src="images/mini-cart.png" alt="img">
								</a>
								<span class="pro-badge">-40%</span>
								<div class="product-action-2 tooltip-style-2">
									<a title="Wishlist" href="#"><i class="icon-heart"></i></a>
								</div>
							</div>
							<div class="product-content-wrap-3">
								span(class="categ")
									| Арт. 12750175
								<a href="#" class="title">Фанера 10 мм ФК нешлифованная 1525x1525 мм сорт 4/4, 2.325 м2</a>
								<div class="product-price-4">
									<span class="new-price">530 ₽/шт.</span>
									<span class="old-price">730 ₽/шт.</span>
								</div>
							</div>
							<div class="product-content-wrap-3 product-content-position">
								span(class="categ")
									| Арт. 12750175
								<a href="#" class="title">Фанера 10 мм ФК нешлифованная 1525x1525 мм сорт 4/4, 2.325 м2</a>
								<div class="product-price-4">
									<span class="new-price">530 ₽/шт.</span>
									<span class="old-price">730 ₽/шт.</span>
								</div>
								div(class="pt-3 pb-3 d-flex justify-content-center")
									button(type="submit" class="btn-add")
										| В корзину
							</div>
						</form>
				</div>
		</div>
	</div>
	div(class="not-found")
		div(class="container")
			div(class="row")
				div(class="col-12")
					h2(class="h1 text-center mb-20")
						| Не нашли нужного товара?
					p(class="text-center")
						| Оставьте свои контактные данные и мы подберем для вас нужный продукт
					form(class="" action="" method="")
						div(class="row justify-content-center")
							div(class="col-12 col-md-4 col-lg-3 pb-4 pb-lg-0")
								input(type="text" class="w-100" placeholder="Ваше имя")
							div(class="col-12 col-md-4 col-lg-3 pb-4 pb-lg-0")
								input(type="text" class="w-100" placeholder="Ваш телефон")
							div(class="col-12 col-md-4 col-lg-3")
								button(type="submit" class="w-100 px-1 btn-big-red")
									| Получить предложение
	include components/video-block.pug
	
