.cart-main-area {
	padding: 120px 0 67px 0px;
	.content {
		padding-bottom: 100px;
	}
	.cart-page-title {
		font-style: normal;
		font-weight: bold;
		font-size: 36px;
		line-height: 44px;
		color: #000000;
		margin-bottom: 30px;
	}
	.line {
		border-bottom: 1px solid #C4C4C4;
	}
	.product-thumbnail {
		display: flex;
		justify-content: center;
		padding: 0 30px;
		img {
			width: 100%;
			max-width: 100%;
		}
		@media (max-width: 991px) {
			margin-bottom: 15px;
		}
	}
	.product-name {
		height: 100%;

		display: flex;
		align-items: center;
		a {
			font-style: normal;
			font-weight: normal;
			font-size: 18px;
			line-height: 21px;
			color: #000000;
			&:hover {
			}
			@media (max-width: 991px) {
				text-align: center;
			}
		}
		@media (max-width: 991px) {
			margin-bottom: 15px;
		}
	}
	.product-price-cart {
		height: 100%;

		display: flex;
		align-items: center;
		.amount {
			font-style: normal;
			font-weight: bold;
			font-size: 18px;
			line-height: 22px;
			color: #000000;
		}
		@media (max-width: 991px) {
			justify-content: center;
			margin-bottom: 15px;
		}
	}
	.product-quantity {
		height: 100%;

		display: flex;
		align-items: center;
		.cart-plus-minus {
			.qtybutton {
				width: 21px;
				height: 21px;
				border-radius: 100%;
				background-color: #F03C3C;
				border: 0px;
				font-style: normal;
				font-weight: bold;
				font-size: 18px;
				line-height: 22px;
				color: #000000;

				display: flex;
				justify-content: center;
				align-items: center;

				top: 50%;
				transform: translateY(-50%);
			}
		}
		@media (max-width: 991px) {
			justify-content: center;
			margin-bottom: 15px;
		}
	}
	.product-remove {
		height: 100%;

		display: flex;
		align-items: center;
		.product-remove-btn {
			i {
				font-size: 18px;
				color: #000;
				transition: $mainTransition;
			}
			&:hover {
				cursor: pointer;
				i {
					color: $colorMain;
					transition: $mainTransition;
				}
			}
		}
		@media (max-width: 991px) {
			justify-content: center;
		}
	}

	.grand-totall {
		border: 0px;
		border-radius: 0px;
		padding: 16px 13px;
		background: #EFEFEF;
		span {
			display: block;
			margin: 0px;
			font-style: normal;
			font-weight: normal;
			font-size: 18px;
			line-height: 22px;
			color: #000000;
		}
		.title {
			padding-bottom: 34px;
		}
		.price {
			padding-bottom: 29px;
		}
	}
	.title-cart {
		font-style: normal;
		font-weight: bold;
		font-size: 18px;
		line-height: 22px;
		color: #000000;
		margin-bottom: 30px;
	}
}

.pro-details-quality .cart-plus-minus input.cart-plus-minus-box {
	font-family: Rubik;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 21px;
	color: #000000;
}
