/* INCLUD SASS */
@import "node_modules/bootstrap/scss/bootstrap";
// @import "template/vendor.min.css";
@import "template/plugins.min.css";
//@import "template/style.min.css";
@import "../node_modules/@fancyapps/fancybox/dist/jquery.fancybox.css";

/*-----------------------------------------------------------------------------------
    CSS INDEX
    ===================
    1. Template default CSS
    2. Animation CSS
    3. Header style
    4. Slider style
    5. Service style
    6. About us style
    7. Section title style
    8. Product style
    9. Banner style
    10. Brand logo style
    11. Subscribe style
    12. Footer style
    13. Instagram style
    14. Blog style
    15. Others style
    16. Product details style
    17. Breadcrumb style
    18. Sidebar style
    19. Shop style
    20. Cart style
    21. Compare style
    22. Checkout style
    23. My account style
    24. Login register style
    25. Contect us style
    26. Blog details style
    27. Order tracking style

-----------------------------------------------------------------------------------*/

@import "template/variabls";
@import "template/common";
@import "template/animation";
@import "template/header";
@import "template/slider";
@import "template/service";
@import "template/about-us";
@import "template/section-title";
@import "template/product";
@import "template/banner";
@import "template/brand-logo";
@import "template/subscribe";
@import "template/footer";
@import "template/instagram";
@import "template/blog";
@import "template/others";
@import "template/product-details";
@import "template/breadcrumb";
@import "template/sidebar";
@import "template/shop";
@import "template/cart";
@import "template/compare";
@import "template/checkout";
@import "template/my-account";
@import "template/login-register";
@import "template/contect-us";
@import "template/blog-details";
@import "template/order-tracking";

/*---------------------------------------------------------------------------------*/



/* INCLUD SASS */
// @import "template/plugins.min.css";
// @import "template/style.min.css";



@import "indent/_indent";
@import "icomoon/_icomoon";
@import "default/_default";
@import "social/_social";
@import "header/_header";
@import "button/_button";
@import "form/_form";
@import "modalWindow/_modal";
@import "footer/_footer";
@import "breadcrumb/_breadcrumb";
@import "catalog/_catalog";
@import "product/_product";
@import "cart/_cart";
@import "modalWindow/_modal";



.slider-area {
	min-height: 100vh;

	display: flex;
	align-items: center;

	.single-hero-slider {
		height: 100vh;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;

		padding-top: 140px;

		display: flex;
		flex-direction: column;
		justify-content: center;
		.subtitle {
			font-family: Rubik;
			font-style: normal;
			font-weight: 500;
			font-size: 18px;
			line-height: 21px;
			color: #000000;

			margin-bottom: 14px;
		}
		.title {
			font-family: Rubik;
			font-style: normal;
			font-weight: bold;
			font-size: 64px;
			line-height: 76px;
			color: #000000;

			margin-bottom: 50px;
			@media (max-width: 1500px) {
				font-size: 44px;
				line-height: 120%;
			}
		}
		.description {
			font-family: Rubik;
			font-style: normal;
			font-weight: normal;
			font-size: 18px;
			line-height: 21px;

			color: #737374;

			margin-bottom: 80px;
		}
		@media (max-width: 991px) {
			height: unset;
		}
	}
	.hm9-hero-slider-img {
		@media only screen and (max-width: 767px) {
			padding-bottom: 36px;
		}

	}
}
.hero-slider-content-6.slider-content-hm9 {
	max-width: 410px;
	padding-left: 0px;
}

.single-service-wrap {
	.service-content {
		span {
			font-style: normal;
			font-weight: normal;
			color: #000000;
			&:first-child {
				font-weight: 500;
				font-size: 18px;
				line-height: 22px;
				margin-bottom: 0px;
			}
			&:last-child {
				font-size: 14px;
				line-height: 16px;
				margin: 0px;
			}
		}
	}
	.service-icon {
		margin-right: 20px;
		i {
			font-size: 54px;
		}
	}
	&:hover {
		.service-icon {
			img {
				animation: .5s ease-in-out 0s normal none 1 running flipOutY;
			}
		}
	}
}


.service-area {
	.service-wrap {
		background: #FFFFFF;
		box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.05);
	}
}

.advantages-area {
	background-image: url("../images/advantages.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	padding: 23px 0 60px 0;

	h3 {
		font-weight: 900;
	}
	.advantages__text {
		font-style: normal;
		font-weight: 500;
		font-size: 18px;
		line-height: 21px;
		color: #000000;
		margin: 0px;
	}
}
.video-block {
	.video-block__item {
		position: relative;
		z-index: 2;

		padding-right: 25px;
		padding-bottom: 25px;

		&:before {
			content: "";
			position: absolute;
			z-index: -1;
			top: 25px;
			right: 0px;
			bottom: 0px;
			left: 25px;
			background-color: $colorMain;
		}
	}
}

















.product-area {
	.section-title-6 h2 {
		font-style: normal;
		font-weight: 600;
		font-size: 24px;
		line-height: 29px;
		color: #000000;
		margin-bottom: 25px;
	}
	.nav {
		margin-bottom: 38px;
		a {
			font-style: normal;
			font-weight: normal;
			font-size: 18px;
			line-height: 21px;
			color: #565656;
			transition: $mainTransition;
			&.active {
				text-decoration: none;
				transition: $mainTransition;
			}
		}
	}
}
.single-product-wrap {
	.product-img .product-action-2 a {
		display: block;
		border: none;
		padding: 0;
		line-height: 1;
		width: 40px;
		height: 40px;
		line-height: 40px;
		font-size: 14px;
		color: #000000;
		border-radius: 100%;
		background-color: #ffffff;
		margin-bottom: 7px;
		border: 1px solid #ebebeb;

		display: flex;
		align-items: center;
		justify-content: center;
		&:hover {
			border: 1px solid red;
			background: $colorMain;
			color: #fff;
		}
	}
	.product-img .product-action-2 a:nth-child(1) {
		border: 0px;
		color: #9C9E9C;
		font-size: 18px;
		-webkit-transition-delay: .2s;
		-o-transition-delay: .2s;
		transition-delay: .2s;
		opacity: 0;
		visibility: hidden;
		margin-top: -10px;

		&:hover {
			background-color: $colorMain;
			.icon-heart {
				&:before {
					color: #fff;
				}
			}
		}
	}
	.product-img span.pro-badge {
		left: 0px;
		background: $colorMain;
		padding: 2px 10px;

		font-style: normal;
		font-weight: bold;
		font-size: 14px;
		line-height: 17px;
		color: #FFFFFF;
	}
	.product-content-wrap-3 .title {
		font-style: normal;
		font-weight: bold;
		font-size: 16px;
		line-height: 19px;
		color: #454545;
		margin-bottom: 9px;
		&:hover {
			color: $colorMain;
		}
	}
	.product-price-4 {
		display: flex;
		align-items: flex-start;
	}
	.product-content-wrap-3 .product-price-4 span {
		&.new-price {
			font-family: Rubik;
			font-style: normal;
			font-weight: bold;
			font-size: 18px;
			line-height: 22px;
			color: #000;
			@media (max-width: 991px) {
				font-size: 14px;
				line-height: 120%;
			}
		}
		&.old-price {
			padding-top: 2px;
			font-family: Rubik;
			font-style: normal;
			font-weight: normal;
			font-size: 14px;
			line-height: 16px;
			text-decoration-line: line-through;
			color: #9C9E9C;
		}
	}
	&:hover {
		.product-img .product-action-2 a:nth-child(1) {

			-webkit-transition-delay: .1s;
			-o-transition-delay: .1s;
			transition-delay: .1s;
			opacity: 1;
			visibility: visible;
			margin-top: 0;
		}
	}
}


.info-area {
	h2 {
		padding-bottom: 29px;
		margin: 0px;
	}
	p {
		font-size: 18px;
		line-height: 21px;
		color: #737374;
	}
}


.delivery-area {
	background-color: #F0F4F6;
	h2 {
		margin-bottom: 16px;
	}
}





.content-page {
	padding: 100px 0px;
	img {
		max-width: 100%;
	}
	@media (max-width: 991px) {
		padding: 50px 0px;
	}
}
