.header-area {
	position: absolute;
	top: 0px;
	right: 0px;
	left: 0px;
	z-index: 10;

	.header-area__description {
		font-style: normal;
		font-weight: normal;
		font-size: 12px;
		line-height: 14px;
		color: #000000;
	}

	.header-top {
		padding-top: 13px;
		padding-bottom: 17px;
		border-bottom: 1px solid #DADADA;
	}

	.logo {
		display: block;
		padding: 0px;
		margin: 0px;
		img {
			max-width: 100%;
			@media (max-width: 991px) {
				max-width: 72px;
			}
		}
	}

	.header-bottom {
		padding: 26px 0 18px 0;
	}

	.main-menu {
		ul {
			margin: 0px;
			padding: 0px;
		}
		.main-menu__link {
			margin-right: 30px;
			&:last-child {
				margin: 0px;
			}
			a {
				font-weight: 500;
				font-size: 18px;
				line-height: 21px;
				text-transform: uppercase;
				color: #000000;
				padding: 5px 0px;
				position: relative;
				transition: $mainTransition;
				&:before {
					content: "";
					position: absolute;
					left: 0px;
					right: 0px;
					bottom: 0px;
					height: 2px;
					display: none;
					background: $colorMain;
				}
				&:hover {
					text-decoration: none;
					color: $colorMain;
					transition: $mainTransition;
				}
				@media (min-width: 992px) and (max-width: 1450px) {
					font-size: 16px;
				}
				@media (min-width: 992px) and (max-width: 1250px) {
					font-size: 14px;
				}
				@media (min-width: 992px) and (max-width: 1050px) {
					font-size: 12px;
				}
			}
			&.active {
				a {
					color: $colorMain;
					&:before {
						display: block;
					}
				}
			}
			@media (min-width: 992px) and (max-width: 1450px) {
				margin-right: 20px;
			}
			@media (min-width: 992px) and (max-width: 1250px) {
				margin-right: 10px;
			}
			@media (min-width: 992px) and (max-width: 1050px) {
				margin-right: 5px;
			}
		}
	}
	&.header-area-inner {
		position: unset;
		background-color: #fff;
	}
}

.header-search {
	font-size: 24px;
	color: #000;
	transition: $mainTransition;
	&:hover {
		text-decoration: none;
		color: $colorMain;
		transition: $mainTransition;
	}
	@media (min-width: 992px) and (max-width: 1450px) {
		font-size: 20px;
	}
	@media (min-width: 992px) and (max-width: 1250px) {
		font-size: 18px;
	}
	@media (min-width: 992px) and (max-width: 1050px) {
		font-size: 16px;
	}
}

.header-phone {
	margin-right: 70px;
	a:hover {
		text-decoration: none;
	}
	.icon-phone {
		font-size: 42px;
		color: #000;
		&:hover {
			color: $colorMain;
			transition: $mainTransition;
		}
		@media (min-width: 992px) and (max-width: 1450px) {
			font-size: 38px;
		}
		@media (min-width: 992px) and (max-width: 1250px) {
			font-size: 36px;
		}
		@media (min-width: 992px) and (max-width: 1050px) {
			font-size: 34px;
		}
	}
	.link {
		font-weight: bold;
		font-size: 18px;
		line-height: 21px;

		color: #000000;
		margin-bottom: 2px;
		transition: $mainTransition;
		&:hover {
			color: $colorMain;
			transition: $mainTransition;
		}
		@media (min-width: 992px) and (max-width: 1450px) {
			font-size: 16px;
		}
		@media (min-width: 992px) and (max-width: 1250px) {
			font-size: 14px;
		}
	}
	@media (min-width: 992px) and (max-width: 1450px) {
		margin-right: 40px;
	}

	@media (max-width: 991px) {
		margin-right: 26px;
		.icon-phone {
			font-size: 28px;
		}
	}
}

.cart-active {
	display: flex;
	align-items: flex-end;
	.icon-shopping-cart {
		font-size: 24px;
		color: #000;
		transition: $mainTransition;
		@media (min-width: 992px) and (max-width: 1450px) {
			font-size: 20px;
		}
		@media (min-width: 992px) and (max-width: 1250px) {
			font-size: 18px;
		}
		@media (min-width: 992px) and (max-width: 1050px) {
			font-size: 16px;
		}
	}
	&:hover {
		.icon-shopping-cart {
			color: $colorMain;
			transition: $mainTransition;
		}
		text-decoration: none;
	}
	.cart-active-count {
		position: absolute;
		top: -10px;
		right: -10px;
		width: 20px;
		height: 20px;
		border-radius: 100%;
		background-color: $colorMain;
		display: flex;
		align-items: center;
		justify-content: center;

		font-size: 12px;
		line-height: 100%;
		text-transform: uppercase;
		color: #fff;
		font-weight: 500;
	}
	@media (max-width: 991px) {
		margin-right: 15px;
	}
}
.sidebar-cart-active {
	.cart-close {
		top: 20px!important;
		left: 30px!important;
		width: 18px;
		font-size: 18px!important;
		color: #000!important;
		.icon-close {
			transition: $mainTransition;
		}
		&:hover {
			.icon-close {
				transition: $mainTransition;
				color: $colorMain!important;;
			}
		}
	}
	.cart-content {
		.title {
			display: block;
			font-style: normal;
			font-weight: bold;
			font-size: 16px;
			line-height: 19px;
			text-transform: uppercase;
			color: #000000;
			margin: 0 0 35px 0;
		}
		.single-product-cart {
			.cart-title {
				display: flex;
				flex-direction: column;
				a {
					font-weight: bold;
					font-size: 16px;
					line-height: 19px;
					color: #000000;
					margin-bottom: 14px;
					&:hover {
						color: $colorMain;
					}
				}
				span {
					display: block;
					font-style: normal;
					font-weight: normal;
					font-size: 14px;
					line-height: 16px;
					color: #000000;
					margin-bottom: 0px;
				}
			}
		}
	}
}


.mobile-header-button-active {
	width: 20px;
	height: 20px;
	position: relative;
	span {
		position: absolute;
		width: 100%;
		height: 2px;
		background-color: #000;
		left: 0px;
		right: 0px;
		top: calc(50% - 1px);
	}
	&:before {
		content: "";
		position: absolute;
		width: 100%;
		height: 2px;
		background-color: #000;
		left: 0px;
		right: 0px;
		top: 4px;
	}
	&:after {
		content: "";
		position: absolute;
		width: 100%;
		height: 2px;
		background-color: #000;
		left: 0px;
		right: 0px;
		bottom: 4px;
	}
}
.mobile-header-active {
	.clickalbe-sidebar-wrap .mobile-header-content-area .mobile-menu-wrap nav .mobile-menu li {
		&:hover>a {
			color: $colorMain;
		}
		&.active>a {
			color: $colorMain;
		}
	}
	.categori-show {
		@media (max-width: 991px) {
			display: flex!important;
			justify-content: space-between;
			align-items: center;
		}
	}
	.sidebar-close {
		width: 20px;
		font-size: 18px!important;
		color: #000!important;
		.icon-close {
			transition: $mainTransition;
		}
		&:hover {
			.icon-close {
				transition: $mainTransition;
				color: $colorMain!important;;
			}
		}
	}
	.mobile-contact-info {
		i {
			position: unset!important;
			font-size: 18px!important;
			line-height: 100%!important;
			margin-right: 8px;
		}
		li {
			line-height: 100%!important;
		}
		a {
			line-height: 100%!important;
			&:hover {
				color: $colorMain;
				text-decoration: none;
			}
		}
	}
}
