.social-block {
	display: flex;
	align-items: center;

	.social-block__item {
		display: block;
		font-size: 18px;
		line-height: 100%;
		color: #000;
		margin-right: 20px;
		&:last-child {
			margin: 0px;
		}
		&:hover {
			color: $colorMain;
			transition: $mainTransition;
			text-decoration: none;
		}
	}

	&.social-block_footer {
		.social-block__item {
			color: #737374;
			&:hover {
				color: $colorMain;
				transition: $mainTransition;
				text-decoration: none;
			}
		}
	}
}
