.product {

}
.product-details-area {
	padding: 90px 0 80px 0px;
	.pro-details-action-wrap {
		border-bottom: 1px solid #E5E5E5;
		padding: 0 0 21px 0px;
	}
	.product-details-content {
		h2 {
			font-style: normal;
			font-weight: 500;
			font-size: 24px;
			line-height: 28px;
			color: #000000;
			margin-bottom: 28px;
		}

		.pro-details-price {
			margin: 0px 0px 33px 0px;
			align-items: flex-start;
			span {
				font-style: normal;
				font-weight: normal;
				&.new-price {
					font-style: normal;
					font-weight: bold;
					font-size: 24px;
					line-height: 29px;
					color: #000;
				}
				&.old-price {
					padding-top: 6px;
					font-style: normal;
					font-weight: bold;
					font-size: 14px;
					line-height: 17px;
					text-decoration-line: line-through;
					color: #9C9E9C;
				}
			}
		}
	}
	.pro-details-size-content {
		ul {
			padding: 0px;
			margin: 0px;
			li {
				list-style: none;
				margin-right: 15px;
				a {
					border: 1px solid #E1E1E1;
					font-family: Rubik;
					font-style: normal;
					font-weight: normal;
					font-size: 14px;
					line-height: 17px;
					color: #000000;
				}
				&:last-child {
					margin: 0px;
				}
				&.active {
					a {
						border: 1px solid #000;
					}
				}
			}
		}
	}
	.pro-details-quality {
		padding-bottom: 20px;
		.pro-details-quality-title {
			display: block;
			font-style: normal;
			font-weight: bold;
			font-size: 14px;
			line-height: 17px;
			color: #000000;
			margin-bottom: 20px;
		}
	}
	.product-count {
		padding: 8px 0 10px 0px;
		border-bottom: 1px solid #E5E5E5;
		display: flex;
		flex-wrap: wrap;
		.product-count_stock {
			display: block;
			margin: 0px;
			font-style: normal;
			font-weight: bold;
			font-size: 18px;
			line-height: 22px;
			color: #00A907;
		}
		.product-count_order {
			display: block;
			margin: 0px;
			font-style: normal;
			font-weight: bold;
			font-size: 18px;
			line-height: 22px;
			color: #00A6CB;
		}
	}
	.product-delivery {
		padding: 14px 0px;
		border-bottom: 1px solid #E5E5E5;

		display: flex;
		align-items: center;
		flex-wrap: wrap;

		span {
			font-family: Rubik;
			font-style: normal;
			font-weight: normal;
			font-size: 14px;
			line-height: 17px;
				color: #000000;

		}

		i {
			font-size: 18px;
			color: #000;
		}
	}
	.not-pro-details-price {
		span {
			font-family: Rubik;
			font-style: normal;
			font-weight: normal;
			font-size: 18px;
			line-height: 21px;
			color: #000000;
		}
		a {
			font-family: Rubik;
			font-style: normal;
			font-weight: normal;
			font-size: 18px;
			line-height: 21px;
			color: #E31E24;
			span {
				color: $colorMain;
				border-bottom: 1px solid $colorMain;
			}
		}
	}

	@media (max-width: 991px) {
		padding-top: 50px;
	}
}
.tab-content.dec-review-bottom .description-wrap p {
	font-size: 16px;
	line-height: 19px;
	color: #565656;
}
.related-product-active {
	.slick-list {
		padding-bottom: 25px;
	}
}
input[type="number"] {
	-moz-appearance:textfield!important;
	&::-webkit-outer-spin-button,
	&::-webkit-inner-spin-button {
		-webkit-appearance: none;
	}
}
.dec-review-topbar a {
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 21px;
	transition: $mainTransition;
	color: #454545;
	&.active {
		font-weight: bold;
		color: #F03C3C;
		transition: $mainTransition;
	}
	@media (max-width: 991px) {
		font-size: 12px;
		line-height: 120%;
	}
}
.product-details-content .pro-details-action-wrap .pro-details-action>a {
	background-color: rgba(227, 30, 36, 0.2);

	font-family: Rubik;
	font-style: normal;
	font-weight: 300;
	font-size: 14px;
	line-height: 17px;
	text-decoration: none;
	color: #000000;
	padding: 9px 10px;

	display: flex;
	align-items: center;
	transition: $mainTransition;
	i {
		margin-right: 8px;
		font-size: 26px;
	}
	span {
		border-bottom: 1px solid #000;
		transition: $mainTransition;
	}
	&:hover {
		color: #fff;
		transition: $mainTransition;
		span {
			border-bottom: 1px solid #fff;
			transition: $mainTransition;
		}
	}
}
.product-details-content.pro-details-content-mrg .pro-details-size span {
	font-family: Rubik;
	font-style: normal;
	font-weight: bold;
	font-size: 14px!important;
	line-height: 17px!important;
	color: #000000;
	margin-bottom: 15px!important;
}

.not-found {
	padding: 44px 0 55px 0px;
	background-color: #F0F4F6;
	p {
		font-style: normal;
		font-weight: normal;
		font-size: 18px;
		line-height: 21px;

		color: #000000;
		margin-bottom: 40px;
	}
	form {
		input {
			background: #FFFFFF;
			border: 1px solid #E5E5E5;
			padding: 15px ;
			font-family: Rubik;
			font-style: normal;
			font-weight: normal;
			font-size: 14px;
			line-height: 17px;
			color: #737374;
			&::-webkit-input-placeholder 	{ color: #737374; text-align: center; }
			&:-ms-input-placeholder 		{ color: #737374; text-align: center; }
			&::-ms-input-placeholder 		{ color: #737374; text-align: center; }
			&::placeholder 					{ color: #737374; text-align: center; }
		}
	}
}
