

.pt {}
.pt-37		{ padding-top: 37px; }
.pt-60		{ padding-top: 60px; }
.pt-68		{ padding-top: 68px; }
.pt-88		{ padding-top: 88px; }
.pt-94		{ padding-top: 94px; }
.pt-97		{ padding-top: 93px; }
.pr {}
.pb {}
.pb-29		{ padding-bottom: 29px; }
.pb-34		{ padding-bottom: 34px; }
.pb-40		{ padding-bottom: 40px; }
.pb-48		{ padding-bottom: 48px; }
.pb-59		{ padding-bottom: 59px; }
.pb-68		{ padding-bottom: 68px; }
.pb-88		{ padding-bottom: 88px; }
.pb-100		{ padding-bottom: 100px; }
.pb-130		{ padding-bottom: 130px; }
.pb-135		{ padding-bottom: 135px; }
.pb-150		{ padding-bottom: 150px; }
.pb-170		{ padding-bottom: 170px; }
.pl-10 		{ padding-left: 10px; }



.mt 		{}
.mt-13		{ margin-top: 13px; }
.mr			{}
.mr-10		{ margin-right: 10px; }
.mr-18		{ margin-right: 18px; }
.mr-70		{ margin-right: 70px; }
.mb			{}
.mb-15		{ margin-bottom: 15px; }
.mb-18		{ margin-bottom: 18px; }
.mb-25		{ margin-bottom: 25px; }
.mb-29		{ margin-bottom: 29px; }
.mb-30		{ margin-bottom: 30px; }
.mb-35		{ margin-bottom: 35px; }
.mb-39		{ margin-bottom: 39px; }
.mb-42		{ margin-bottom: 42px; }
.mb-48		{ margin-bottom: 48px; }
.mb-80		{ margin-bottom: 80px; }
.ml			{}
.ml-18		{ margin-left: 18px; }


.pb-mob-20 	{ @media (max-width: 991px) { padding-bottom: 20px!important; } }
.pb-mob-76 	{ @media (max-width: 991px) { padding-bottom: 76px!important; } }
.mb-mob-56 	{ @media (max-width: 991px) { margin-bottom: 56px!important; } }
